body {
  font-family: 'Inconsolata', monospace;
  color: #eff0eb;
  background-color: #282a36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

h1 {
  margin-top: 1em;
}

textarea {
  background-color: #282a2e;
  border: 1px solid #373b41;
  height: 50vh;
  font-family: inherit;
  resize: none;
} textarea:focus {
  border: 1px solid #eff0eb;
}

select {
  background-color: #282a2e;
  border: 1px solid #373b41;
  font-family: inherit;
  margin-bottom: 0;
} select:focus {
  border: 1px solid #eff0eb;
}

#submit {
  border-color: #5af78e;
  color: #282a2e;
  background-color: #5af78e;
  margin-bottom: 0;
} #submit:hover {
  background-color: #68ff9a;
}

#reset {
  color: #eff0eb;
  margin-bottom: 0;
}

#error {
  background-color: #ff5c57;
  padding-left: 1ch;
  border-radius: 3px;
  display: none;
}

#waifu-container {
  display: none;
}

.footer {
  background-color: #1e1f2a;
  line-height: 2em;
  text-align: right;
  color: #eff0eb;
  padding-right: 1ch;
} .footer p {
  margin: 0;
} .footer p a {
  color: #eff0eb;
}

.dragging {
  outline: 4px dashed #9aedfe;
}